<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Laboratory System</title>
    <link rel="stylesheet" href="mainPage.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="h" id="header_text">
        <h1 id="header">
            Diagnostic Center KD
        </h1>
            </div>
            <div class="h" id="image">
        <img  id="img" src="blood.png">
            </div>
        </div>
    </header>

    <div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div>
        <form action="/addPatient" th:object="${patient}" method="post">
            <input type="text" th:field="*{name}"lder="Name" >
            <input type="text" th:field="*{surname}" placeholder="Surname">
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>
