<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Laboratory System</title>
</head>
<body>
    <header>
        <h1 align="center"  id="header">
            Diagnostic Center
        </h1>
    </header>

    <div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div align="center">
        <form action="/addPatient"  method="post" th:object="${patient}">
            <input type="text" th:field="*{name}"placeholder="Name" >
            <input type="text" th:field="*{surname}" placeholder="Surname">
            <input type="submit" value="Submit">
        </form>
    </div>



</body>
</html>
